<!DOCTYPE html>
<html lang="en" ng-app>

<head>
    <meta charset="UTF-8">
    <title>AngularJS For Everyone</title>
</head>

<body ng-init="list = [{name: 'Mario', age: 22}, {name: 'Alberto', age: 21}, {name: 'Guillen', age: 20}, {name: 'Rivas', age: 19}]">
	
	<input type="text" ng-model="search">

	<ul>
		<li ng-repeat="item in list | filter: search">
			{{ item.name }} - <em>{{ item.age }}</em>
		</li>
	</ul>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</body>

</html>
